@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --primary-color: #6c63ff;
    --success-color: #00bf8e;
    --warning-color: #f7c94b;
    --danger-color:#f75842;
    --danger-variant-color: rgb(247, 88, 66, 0.4);
    --white-color: #fff;
    --light-color: rgba(255, 255, 255, 0.7);
    --black-color: #000;
    --bg-color: #1f2641;
    --bg1-color: #2e3267;
    --bg2-color: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
    --font-style: 'Roboto', sans-serif;
    
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--white-color);
    background: var(--bg-color);
    background-image: url('images/bg-texture.png');
}
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}
section {
    padding: 6rem 0;
}
section h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-weight: var(--font-style);
    font-weight: 700;
}
h1, h2, h3, h4, h5 {
    line-height: 1;
}
h1 {
    font-size: 2.4rem;
    font-family: var(--font-style);
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.3rem;
}
a {
    color: var(--white-color);
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn {
    display: inline-block;
    background: var(--white-color);
    color: var(--black-color);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 6px;
}
.btn:hover {
    background: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
}
.btn-primary {
    background: var(--danger-color);
    color: var(--white-color); 
}

/*============   NAVBAR   ===========*/

nav {
    background: transparent;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 11;
}
/* change navbar styles on scroll using javascript */
.window-scroll {
    background: var(--primary-color);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button {
    display: none;
}
.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav__menu a:hover {
    color: var(--bg2-color);
}
span {
    color: var(--bg2-color);
}
/*============   HEADER   ===========*/

header {
    position: relative;
    top: 6rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header__left p {
    margin: 1rem 0 2.4rem;
}

/*============   CATEGORIES   ===========*/

.categories {
    background: var(--bg1-color);
    height: 30rem;
}
.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}
.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
}
.categories__left {
    margin-right: 3rem;
}
.categories__left p {
    margin: 1rem 0 3rem;
}
.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}
.category {
    background: var(--bg2-color);
    padding: 1.5rem;
    border-radius: 2rem;
    transition: var(--transition);
    cursor: pointer;
}
.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
    transform: translateY(-6px)
}
.category:nth-child(2) .category__icon {
    background: var(--danger-color);
}
.category:nth-child(3) .category__icon {
    background: var(--success-color);
}
.category:nth-child(4) .category__icon {
    background: var(--warning-color);
}
.category:nth-child(5) .category__icon {
    background: var(--success-color);
}
.category:nth-child(6) .category__icon {
    background: var(--bg-color);
}
.category__icon {
    background: var(--primary-color);
    padding: 0.7rem;
    border-radius: 0.9rem;
    color: var(--white-color);
} 
.category h5 {
    margin: 2rem 0 1rem;
}
.category p {
    font-size: 0.85rem;
}

/*============   COURSES   ===========*/

.courses {
    margin-top: 8rem;
}
.courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.course {
    background: var(--bg1-color);
    text-align: center;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: var(--transition);
}
.course:hover {
    background: transparent;
    border-color: var(--primary-color);
}
.course__image img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.course__info {
    padding: 2rem;
}
.course__info p {
    margin: 1rem 0 1rem;
    font-size: 0.9rem;
}

/*============   FAQs   ===========*/

.faqs {
    background: var(--bg1-color);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--primary-color);
    cursor: pointer;
}
.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}
.faq p {
    margin-top: 0.8rem;
    font-size: 1rem;
    display: none;
}
.faq.open p {
    display: block;
}
.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

/*============   TESTIMONIAL   ===========*/

.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}
.testimonial {
    padding-top: 2rem;
}
.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.6rem solid var(--bg1-color);
}
.testimonial__info {
    text-align: center;
}
.testimonial__body {
    background: var(--primary-color);
    padding: 1.5rem;
    margin-top: 3rem;
    position: relative;
}
.testimonial__body::before {
    content: '';
    display: block;
    background: linear-gradient(135deg, transparent, var(--primary-color), var(--primary-color), var(--primary-color));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

/*============   FOOTER   ===========*/

.footer {
    background: var(--bg1-color);
    padding-top: 5rem;
    font-size: 0.9rem;
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.footer__container > div h4 {
    margin-bottom: 1.2rem;
}
.footer__1 p {
    margin: 0 0 2rem;
}
.footer__2 ul li {
    margin-bottom: 0.7rem;
}
.footer__2 ul li a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}
.footer__socials {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    transition: var(--transition);
}
.footer__socials li a:hover {
    color: var(--primary-color);
}
.footer__copy {
    text-align: center;
    margin-top: 1rem;
    padding: 1.3rem 0; 
}
.line {
    border-top: 1px solid var(--bg2-color);
    margin-top: 3rem;
    width:100%;
}

/*============   RESPONSIVE    ===========*/
/* media query for 1024px screen  devices*/

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem; 
    }
    
    /*============   NAVBAR   ===========*/

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.5rem;
        color: var(--white-color);
        cursor: pointer;
    }
    nav button#close-menu-btn {
        display: none;
    }
    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }
    .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }
    .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }
    .nav__menu li a {
        background: var(--primary-color);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav__menu li a:hover {
        background: var(--bg2-color);
        color: var(--white-color);
    }

    /*============   HEADER   ===========*/

    header {
        height: 65vh;
        margin-bottom: 4.5rem;
    }
    .header__container {
        gap: 0;
        padding-bottom: 4rem;
    }
    .header__left p {
        margin: 1rem 0 1.5rem;
    }
    
    /*============   CATEGORIES   ===========*/

    .categories {
        height: auto;
    }
    .categories__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .categories__left {
        margin-right: 1rem;
    }
    .categories__left p {
        margin: 0 0 1.5rem;
    }
    .categories h1 {
        margin-bottom: 2rem;
    }

    /*============   COURSES   ===========*/

    .courses {
        margin-top: 0;
    }
    .courses__container {
        grid-template-columns: 1fr 1fr;
    }

    /*============   FAQs   ===========*/

    .faqs__container {
        grid-template-columns: 1fr;
    }
    .faq {
        padding: 1.5rem;
    }

    /*============   TESTIMONIAL   ===========*/
    
    .testimonial__body {
        padding: 1.3rem;
    }
    /*============   FOOTER   ===========*/
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}

/* media query for 600px  screen devices */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    /*============   NAVBAR   ===========*/
    .nav__menu {       
        right: 3%;
    }
    nav button {
        margin-right: 1rem;
    }
    /*============   HEADER   ===========*/

    header {
        height: 100vh;
    }
    .header__container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    .header__left p {
        margin-bottom: 1rem;
    }
    .header__right {
        margin-top: 0.8rem;
    }

    /*============   CATEGORIES   ===========*/

    .categories__right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category {
        padding: 1rem;
        border-radius: 1rem;
    }
    .category__icon {
        margin-top: 4px;
        /* display: inline-block; */
    }

    /*============   COURSES   ===========*/

    .courses__container {
        grid-template-columns: 1fr;
        
    }
   
    /*============   TESTIMONIAL   ===========*/
    .testimonial__body {
        padding: 1.2rem;
    }

    /*============   FOOTER   ===========*/
    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    .footer__1 p {
        margin: 1rem auto;
    }
    .footer__socials {
        justify-content: center;
    }
}



/* ======== ABOUT PAGE CSS =========== */

.about__achievements {
    margin-top: 3rem;
}
.about__achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.about__achievements-right > p {
    margin: 1.6rem 0 2.5rem;
}
.achievements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.achievement__card {
    background: var(--bg1-color);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}
.achievement__card:hover {
    background: var(--bg2-color);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    transform: translateY(-6px)
}
.achievement__icon {
    background: var(--danger-color);
    padding: 0.5rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--white-color);
}
.achievement__card:nth-child(2) .achievement__icon {
    background: var(--success-color);
}
.achievement__card:nth-child(3) .achievement__icon {
    background: var(--primary-color);
}
.achievement__card p {
    margin-top: 0.5rem;
}

/* ======== TEAM =========== */

.team {
    background: var(--bg1-color);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.team__member {
    background: var(--bg2-color);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.team__member:hover {
    background: transparent;
    border-color: var(--primary-color);
}
.team__member-image img {
    filter: saturate(0);
    border-radius: 6px;
}
.team__member:hover img {
    filter: saturate(1);
}
.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;
}
.team__member-info p {
    color: var(--light-color);
}
.team__member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
}
.team__member:hover .team__member-socials {
    right: 0;
}
.team__member-socials a {
    padding: 1rem;
    color: var(--white-color);
}

/* ======== RESPONSIVE for about page=========== */
/* media query for 1024px screen */

@media screen and (max-width: 1024px) {
    .about__achievements {
        margin-top: 2rem;
    }
    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .about__achievements-left {
        width: 80%;
        margin: 0 auto;
    }
    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .team__member {
        padding: 1rem;
    }
    
    
}

/* media query for 600px screen */
@media screen and (max-width: 600px) {
    .achievements__cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .team__member {
        padding: 0;
    }
    .team__member-image img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .team__member-info p {
        padding-bottom: 1rem;
    }
    
}

/* ======== COURSES CSS PAGE ======== */

.courses {
    margin-top: 1rem;
}

/* ======== CONTACT CSS PAGE ======== */

.contact__container {
    background: var(--bg1-color);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}
.contact__aside {
    background: var(--primary-color);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}
.aside__image {
    width: 12rem;
    margin-bottom: 2rem;
}
.contact__aside h2 {
    text-align: left;
    margin-bottom: 1rem;
}
.contact__aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.contact__details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.contact__socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}
.contact__socials a {
    background: var(--bg2-color);
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 0.8rem;
    transition: var(--transition);
    border: 1px solid var(--bg2-color);
}
.contact__socials a:hover {
    background: transparent;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form__name {
    display: flex;
    gap: 1.2rem;
}
.contact__form input[type="text"] {
    width: 50%;
}
input,
textarea {
    width: 100%;
    padding: 1rem;
    background: var(--bg-color);
    color: var(--white-color);
}
.contact__form .btn {
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}

/* ====== RESPONSIVE ======= */
/*  medis query for 1024px screen */

@media screen and (max-width: 1024px) {
    
.contact {
    padding-bottom: 0;
}
.contact__container {
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
}
.contact__aside {
    width: auto;
    padding: 1.5rem;
    bottom: 0;
}
.contact__form {
    align-self: center;
    margin-right: 1.5rem;
}
}

/* ====== RESPONSIVE ======= */
/*  medis query for 600px screen */

@media screen and (max-width: 600px) {
    .contact__container {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }
    .contact__form {
        margin: 0 1.5rem 3rem;
    }
    .form__name {
        flex-direction: column;
    }
    .form__name input[type="text"] {
        width: 100%;
    }
    
}

